
@font-face {
  font-family: 'CopperplateGothic-Bold';
  src: url('CopperplateGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('CopperplateGothic-Bold.woff') format('woff'), url('CopperplateGothic-Bold.ttf')  format('truetype'), url('CopperplateGothic-Bold.svg#CopperplateGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
