@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
height: auto;
margin: 20px auto;
padding: 0;
text-align: center;
width: 100%;
}
.ca-menu li{
background: #fff none repeat scroll 0 0;
border: 10px solid #00366f;
border-radius: 125px;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
float: left;
height: 160px;
margin: 0 8%;
overflow: hidden;
position: relative;
transition: all 400ms linear 0s;
width: 160px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:last-child{
    margin-right: 0;
	!float:right;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 36px;
    color: #00366f;;
    line-height: 20px;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 23px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-main{
    color: #00366f;
    font-size: 20px;
    height: 80px;
    left: 50%;
    margin-left: -51px;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 64px;
    width: 100px;
}
.ca-sub{
    color: #fff;
    font-size: 20px;
    height: 80px;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 60px;
    transition: all 400ms linear 0s;
    width: 100px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:hover{
    background: #00366f;
    border-color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.ca-menu li:hover .ca-icon{
    color: #fff;
     font-size: 30px;
}
.ca-menu li:hover .ca-main{
    display: block;

}
.ca-menu li:hover .ca-sub{
    opacity: 0.8;
}