@font-face {
  font-family: 'CopperplateGothic-Bold';
  src: url('../font/CopperplateGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('../font/CopperplateGothic-Bold.woff') format('woff'), url('../font/CopperplateGothic-Bold.ttf')  format('truetype'), url('../font/CopperplateGothic-Bold.svg#CopperplateGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,body,div,h1,h2,h3,h4,h5,h6,b,i,pre,p,blockquote,label{
	margin:0;
	padding:0;
}
body{
background: rgba(0, 0, 0, 0) url("../img/lblue.jpg") repeat scroll 0 0;
}
.adminbtn{
  background: #00ACEB;
  font-family: copperplategothic-bold;
  color: #fff;
}
.adminpanel{
  text-align: center;
}
.paginationCustomText{
      float: left;
    color: #00366F;
    font-family: copperplategothic-bold;
    width: 100%;
    text-align: right;
}
.pagination li.active {
    background-color: #00366F;
    color: #fff;
    font-family: copperplategothic-bold;
}
.header {
background: rgba(0, 0, 0, 0) url("../img/banner.jpg") no-repeat scroll 0 0 / 100% 108%;
color: #00366f;
font-family: "CopperplateGothic-Bold";
font-size: 65px;
font-variant: small-caps;
height: auto;
padding: 21px 35px;
}
.neon-text {
border: medium none;
box-sizing: content-box;
color: #00366f;
text-overflow: clip;
text-shadow: 1px 1px 0 rgb(77, 162, 252), -1px -1px 0 rgb(77, 162, 252), 1px -1px 0 rgb(77, 162, 252), -1px 1px 0 rgb(77, 162, 252), 4px 4px 8px rgb(44, 88, 137), -4px 4px 8px rgb(44, 88, 137), 4px -4px 8px rgb(44, 88, 137), -4px -4px 8px rgb(44, 88, 137);
transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.neon-text:hover {
  text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.container{
	background:#fff;
}
nav{

 background-image: linear-gradient(to bottom, #aedafc 50%, #fff 50%);
  background-size: 100% 200%;
border: 1px solid #00366f;
border-radius: 5px;
height: 43px;
margin: 0;
padding: 0 0 0 23px;
-webkit-transition: background-position 1s;
-moz-transition: background-position 1s;
 transition: background-position 1s;
 opacity: 0.7;
}
nav:hover{
 opacity: 1;
background-position: 0 -100%;	
}
nav ul a{
	line-height:41px;
	color: #00366f;
display: block;
font-family: copperplategothic-bold;
font-size: 1rem;
padding: 0 15px;
transition: all 300ms linear;
}
nav ul li:hover, nav ul li.active {
    background-color: #00366f;
    color: #fff !important; 
    transition: all 300ms linear;
}
nav ul li a:hover{
	 color: #fff !important; 
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.row .col.m12 {
  margin-left: 0;
  /*padding: 0;*/
  width: 100%;
}
.content_holder{
	min-height:365px;
	width:100%;
	overflow:hidden;
}
.main_content {
display: flex;
height: auto;
max-width: 100%;
text-align: center;
}
.searchForm{
background: rgba(255, 255, 255, 0.38) none repeat scroll 0 0;
border: 9px solid #00366F;
border-radius: 59px;
margin: 0 auto;
max-width: 500px;
padding: 10px;
text-align: center;	
display: block;
}

::-webkit-input-placeholder {
   color: #00366f;
}

:-moz-placeholder { /* Firefox 18- */
   color: #00366f;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #00366f;  
}

:-ms-input-placeholder {  
   color: #00366f;  
}
.btn, .btn-large {
  background-color: #fff;
  color: #00366f;
  cursor: pointer;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out 0s;
}
.btn:hover, .btn-large:hover {
  background-color: #00366f;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out 0s;
}
footer{
	background:#fff ;
	padding:10px;
	color: #00366f;
}
.side{
    border: 3px solid #aedafc;
    border-radius: 4px;
    height: auto;
    margin-bottom: 5px;
}
.sideTitle{
background: #00366f none repeat scroll 0 0;
border-radius: 4px;
color: #fff;
font-family: copperplategothic-bold;
font-variant: small-caps;
font-weight: bolder;
margin: 5px;
padding: 5px;
}
.sideBoxContent{
background: #aedafc none repeat scroll 0 0;
height: 150px;
margin: 5px;
text-align: center;
}
.faico {
  list-style: outside none none;
  margin: 0;
  padding: 20px;
}
.faico li {
  display: inline-block;
  line-height: normal;
  margin: 0 2px 0 0;
  padding: 0;
}
.faico a {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.5);
}
 .faico a {
  border: 1px solid;
}
.faico a, #twitter{
  border-radius: 8px;
}
.faico a {
  color: #ffffff;
}
.faico a {
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}
.faicon-twitter {
  background-color: #00acee;
}
.faicon-linkedin {
    background-color: #0e76a8;
}
.faicon-facebook {
    background-color: #3b5998;
}
.faicon-flickr {
    background-color: #ff0084;
}
.faicon-rss {
    background-color: #ee802f;
}
.faico a:hover {
    background-color: #cccccc;
    color: #ffffff;
}
.side i{
	font-size: 23px;
margin-right: 10px;
}
.sideBoxContent p{
font-size: 74px;
padding: 10px;
color: #00366f;
}
#book{
margin-right: 10px;
font-size: 74px;
}
.subscribe-form {
border-top: 1px solid #ccc;
left: 0;
padding: 35px 0 0;
position: relative;
right: 0;
}

.subscribe-form input {
  padding: 0 16px;
  width: 280px;
  height: 35px;
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 15px;
  color: #444;
  background: #fefefe;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #999 #aaa #aaa;
  border-radius: 20px;
}

.subscribe-submit {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: #60e160 none repeat scroll 0 0;
border-color: #4c9d50 #4c9d50 #4c9d50 #55af5a;
border-image: none;
border-radius: 0 20px 20px 0;
border-style: solid;
border-width: 1px;
cursor: pointer;
display: block;
height: 35px;
padding-left: 15px;
position: absolute;
right: 52px;
top: 36px;
width: 60px;
}
.contact-holder{

text-align: left;
}
.contact-holder span{
	font-family: copperplategothic-bold;
}
.copper{
	font-family: copperplategothic-bold;
	color: #00366f;
}
hr{
color: #aedafc;	
}

.input-field {
  margin-top: 1rem;
  position: relative;
  width: 461px;
  display: flex;
}
#searchIn1{
border-bottom: 2px solid #00366f;
float: left;
width: 329px;
}
#searchIn2{
border-radius: 148px;
float: right;
font-family: copperplategothic-bold;
}
.catalog{
  background: #fff none repeat scroll 0 0;
  border: 5px solid #aedafc;
  padding: 20px;
}
.catalogHeader{
background: #00366f none repeat scroll 0 0;
border-radius: 5px;
box-shadow: 0 2px 4px 0 #00366f;
padding: 10px;
}
.catalogHeader p{
color: #fff;
font-family: copperplategothic-bold;
font-size: 20px;
}
.catalogContent{}
.catContent1{}
.catContent2{}
.blue-text{
  color: #00366F  !important;
}
.row{
  margin-bottom:5px; 
}
.slider{
    border: 3px solid #aedafc;
}
.aboutH{
 background:rgba(255,255,255,.65);
border: 2px solid #aedafc;
padding: 20px;
 text-align: justify;
}
.imagebox{}
.imagebox img{
border: 4px solid #aedafc;
height: 140px;
width: 250px;
}
.imgcontent{}
.imgcontent p{}
.gborder{
  border-right: 2px solid #00366F;
  height: 200px;
}
.footer-copyright{
  text-align: center;
}
.sub-li{
background: #fff none repeat scroll 0 0;
border: 6px solid;
border-radius: 100px;
color: #00366f !important;
float: left;
height: 100px;
margin-right: 98px;
padding: 30px 0 0 1px;
text-align: center;
width: 100px;
 cursor: pointer;
}
.sub-li a{
color: #00366f !important;
font-family: copperplategothic-bold;
word-wrap: break-word;
}
.profile-image-login {
    width: 100px;
    height: 100px !important;
}
.drop-nav{
background: transparent none repeat scroll 0 0 !important;
height: 100px;
left: 0;
margin-bottom: 14px;
margin-left: 140px;
position: relative;
top: 3px;
width: 402px;
  -webkit-animation: bounce 800ms ease-out;
  -moz-animation: bounce 800ms ease-out;
  -o-animation: bounce 800ms ease-out;
  animation: bounce 800ms ease-out;
}
/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
  0% {
  -webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    -webkit-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    -webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -webkit-transform:translateY(-50%);
  }
  40% {
    -webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -webkit-transform:translateY(-30%);
  }
  70% {
    -webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform:translateY(-15%);
  }
  90% {
    -webkit-transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform:translateY(-10%);
  }
  97% {
    -webkit-transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform:translateY(-5%);
  }
  100% {
    -webkit-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
  -moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    -moz-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    -moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -moz-transform:translateY(-50%);
  }
  40% {
    -moz-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -moz-transform:translateY(-30%);
  }
  70% {
    -moz-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -moz-transform:translateY(-15%);
  }
  90% {
    -moz-transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -moz-transform:translateY(-10%);
  }
  97% {
    -moz-transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -moz-transform:translateY(-5%);
  }
  100% {
    -moz-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
  -o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    -o-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    -o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -o-transform:translateY(-50%);
  }
  40% {
    -o-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -o-transform:translateY(-30%);
  }
  70% {
    -o-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -o-transform:translateY(-15%);
  }
  90% {
    -o-transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -o-transform:translateY(-10%);
  }
  97% {
    -o-transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -o-transform:translateY(-5%);
  }
  100% {
    -o-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
  transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform:translateY(-50%);
  }
  40% {
    transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform:translateY(-30%);
  }
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}
.login-form{
    width: 400px;
    margin: 0 auto;
}
.login-form-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    padding: 39px 0 7px 20px !important;
    font-family: copperplategothic-bold;
}